body {
    background-color:rgb(1, 38, 71)
}
.container {
    text-align: center;
    margin-top: 20px;
}
.carousel {
    max-width: 80%;
    margin: 0 auto;
}
.card {
    width: 250px;
    margin: 20px;
    display: inline-block;
}

main {
    padding: 20px;
}

.center {
    text-align: center
}
.navbar {
    background-color: rgb(12, 50, 78);
    padding: 20px
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #c9c9c9; 
    font-weight: bold;
    font-size: 18px;
}


.navbar a:hover {
    color: #ffffff; 
}

.carousel {
    max-width: 80%;
    margin: 0 auto;
}

.carousel-inner {
    text-align: center;
}

.carousel-item {
    display: inline-block;
    float: none; /* Clear the default "float" property */
}


.container {
    text-align: center;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

.navbar {
    background-color: rgb(12, 50, 78);
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

